---
import { Icon } from "astro-icon/components";
import { profileConfig } from "../../config";
import { url } from "../../utils/url-utils";
import ImageWrapper from "../misc/ImageWrapper.astro";

const config = profileConfig;
---
<div class="card-base p-3">
    <a aria-label="Go to About Page" href={url('/about/')}
       class="block relative mx-auto mt-1 mb-3
       w-full max-w-[7.5rem] overflow-hidden rounded-xl active:scale-95">
        <ImageWrapper src={config.avatar || ""} alt="Profile Image of the Author" class="w-full h-auto"></ImageWrapper>
    </a>
    <div class="px-2">
        <div class="font-bold text-lg text-center mb-1 dark:text-neutral-50 transition">{config.name}</div>
        <div class="h-0.5 w-8 bg-[var(--primary)] mx-auto rounded-full mb-2 transition"></div>
        <div class="text-center text-neutral-400 mb-2.5 text-sm leading-6 max-w-2xl mx-auto transition">{config.bio}</div>
        <div class="flex gap-2 justify-center mb-1 flex-wrap">
            {config.links.length > 1 && config.links.map(item =>
                    <a rel="me" aria-label={item.name} href={item.url} target="_blank" class="btn-regular rounded-lg h-9 w-9 active:scale-90">
                        <Icon name={item.icon} class="text-[1.25rem]"></Icon>
                    </a>
            )}
            {config.links.length == 1 && <a rel="me" aria-label={config.links[0].name} href={config.links[0].url} target="_blank"
                                            class="btn-regular rounded-lg h-10 gap-2 px-3 font-bold active:scale-95">
                <Icon name={config.links[0].icon} class="text-[1.5rem]"></Icon>
                {config.links[0].name}
            </a>}
        </div>
    </div>
</div>

